<ol class="early">
	<li><p>Born 12/31/1876 in Little Rock, Arkansas, 3rd of 12 children, and named, John Cowan O'Hair. </p></li>
	<li><p>Born again by the grace of God through faith in Christ just before his 23rd birthday in 1899 - while reading the Bible at at hotel room in Neame, Louisiana.</p></li>
	<li><p>Married: 07/11/1901 in Kansas City, Missouri to Ethel Andreson.</p></li>
	<li><p>Children: Six - Two sons, Robert and James, and four daughters, Elizabeth, Kathleen, and Lucille, (daughter Dorothy, born in Sedalia, MO. two yrs before the of the O'Hairs son James - died at two years of age in St. Louis, MO. .</p></li>
	<li><p>Ordained a minister by the West Texas Presbytery at Lockhart, Texas in 1916. </p></li>
	<li><p>Had various evengelist/preaching meeting throughtout the United States.</p></li>
	<li><p>Accepted the pastorate at Madison Street Church(now, Calvary Memorial Church) - Oak Park, IL 08/17/1917.</p></li>
	<li>Called to the pastorate of North Shore Congregational Church - June, 1923 - his first service was 07/17/1923. </li>
</ol>
