<h1>Later#index</h1>
<p>Find me in app/views/later/index.html.erb</p>

<ol class="later">
	<li>Spear-headed the church named changed on January 9th, 1929 by amending church constitution to: North Shore Church </li>
	<li>Had written 157 book/booklets by November 1955 and was in the process of writing additional one at that time. *</li>
	<li>In 1920 came to the conviction while preaching at the Empire Theater, Indianapolis, Indiana that water baptism was not for this current age of Grace. This was after studying the Bible until 2:00 AM, after conference meetings and based on the statement of a Pentecostal pastor which challenged him that "water baptism" ceased just like he had preached that the "sign gifts" had passed away for today's age of Grace. * </li>
	<li>Pastor J. C. O'Hair had a very growing local church, radio, and literature ministries for his entire pastorate, and its influence and spiritual fruit continues all over the world even today.  ++</li>
	<li>Died January 14, 1958, 2:10 PM on a Tuesday in Wheaton, IL after an extended time of illness. ++ </li>
	<li>Funeral conducted on Friday, January 17, 1958 at North Shore Church - Charles F. Baker and C. R. Stam officiating. + </li>
	<li>Buried at Wheaton Cemetery, Wheaton, IL on Friday, January 17, 1958 - His tombstone has an engraving with one of his favorite Scripture verses: II Timothy 2:15, this reference and the words of the Scripture engraved. *+ </li>
	<li>J. C. OHair was a powerful speaker for the "Grace Movement" and God's Word of Grace, and for the recovery and proclamation of the Pauline revelation, - "the praching of Jesus Christ according to the revelation of the mystery" for today's "Dispensation of the Grace of God" age.. </li>
</ol>